<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Pytania - ' + ${quiz.title}">Pytania</title>
</head>
<body>
    <h1 th:text="'Pytania quizu: ' + ${quiz.title}">Pytania quizu</h1>
    <p th:if="${error}" th:text="${error}"></p>
    <a th:href="@{/quizzes/{id}/questions/new(id=${quiz.id})}">Dodaj pytanie</a>
    <a href="/quizzes">Powrót do quizów</a>
    <ul>
        <li th:each="question : ${questions}">
            <span th:text="${question.content}"></span>
            <span th:text="' (limit: ' + ${question.timeLimit} + ' s)'"></span>
            <a th:href="@{/quizzes/{quizId}/questions/{questionId}/edit(quizId=${quiz.id}, questionId=${question.id})}">
                Edytuj
            </a>
            <a th:href="@{/quizzes/{quizId}/questions/{questionId}/answers(quizId=${quiz.id}, questionId=${question.id})}">
                Dodaj odpowiedzi
            </a>
            <form method="post"
                  th:action="@{/quizzes/{quizId}/questions/{questionId}/delete(quizId=${quiz.id}, questionId=${question.id})}"
                  style="display:inline">
                <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
                <button type="submit">Usuń</button>
            </form>
        </li>
    </ul>
</body>
</html>
